body{
    background-color: #CCCCFF;
    font-size: 14pt;
    font-weight: bold;
}
h1{
    font-size: 32pt;
    text-align: center;
    margin: 0;
}
textarea{
    min-width: 90%;
    min-height: 400px;
    font-size: 12pt;
    font-family: monospace;
}
.centered{
    text-align: center;
}
.field{
    display: inline-block;
}
.field > fieldset{
    border: 5px black solid;
    vertical-align: text-top;
}
#validators{
    opacity: 0.5;
    position: fixed;
    bottom:0%;
    right: 0%;
}
#validators:hover{
    opacity: 1;
}